<div class="d-flex justify-content-center">
    <form id="addannuncio_crispy_form" method="post"> 
        <input type="hidden" name="csrfmiddlewaretoken" value="rp5YihcuPVKw8vIOvrPe23f8QpJQ8VRAjeX6ozuikHzAw4L6oivJjX9EKYbmnEnt"> 
        <div class="d-flex justify-content-center">
            <div id="div_id_venditore" class="mb-3" bis_skin_checked="1">
                <label hidden for="id_venditore"> Venditore </label>
                <input hidden type="text" class="textinput form-control" id="id_venditore" value="{{user.get_username}}" disabled>
            </div>
            <div id="div_id_titolo" class="mb-3" bis_skin_checked="1"> 
                <label for="id_titolo" class="form-label requiredField"> Titolo:</label> 
                <input type="text" name="titolo" maxlength="20" class="textinput form-control" required="" id="id_titolo"> 
            </div>
            <div id="div_id_schedaTecnica" class="mb-3" bis_skin_checked="1"> 
                <label for="id_schedaTecnica" class="form-label requiredField"> Scheda tecnica:</label> 
                <textarea name="schedaTecnica" cols="40" rows="10" class="textarea form-control" required="" id="id_schedaTecnica"></textarea> 
            </div>
            <div id="div_id_immagine" class="mb-3" bis_skin_checked="1" hidden> 
                <label for="id_immagine" class="form-label requiredField">Immagine</label> 
                <input type="text" name="immagine" maxlength="20" class="textinput form-control" required="" id="id_immagine"> 
            </div>
            <div id="div_id_prezzoIniziale" class="mb-3" bis_skin_checked="1"> 
                <label for="id_prezzoIniziale" class="form-label requiredField">Prezzo iniziale:</label> 
                <input type="number" name="prezzoIniziale" step="0.01" class="numberinput form-control" required="" id="id_prezzoIniziale"> 
            </div>
            <div id="div_id_prezzoRiserva" class="mb-3" bis_skin_checked="1"> 
                <label for="id_prezzoRiserva" class="form-label requiredField">Prezzo di riserva:</label> 
                <input type="number" name="prezzoRiserva" step="0.01" class="numberinput form-control" required="" id="id_prezzoRiserva"> 
            </div>
            <div id="div_id_durataAsta" class="mb-3" bis_skin_checked="1"> 
                <label for="id_durataAsta" class="form-label requiredField">Durata asta:</label> 
                <select name="durataAsta" class="select form-select" required="" id="id_durataAsta"> 
                    <option value="1">12 ore</option> 
                    <option value="2">24 ore</option>
                </select> 
            </div>
            <input type="submit" name="submit" value="Aggiungi" class="btn btn-primary" id="submit-id-submit">
        </div>
    </form>