{% extends 'base.html' %}

{% block content %}
    <h1>Recensioni</h1>

    <!-- Mostra le recensioni -->
    {% for recensione in recensioni %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Recensione di {{ recensione.acquirente.username }}</h5>
                <p class="card-text">{{ recensione.testo }}</p>
                <p class="card-text">Voto: {{ recensione.voto }}/5</p>
            </div>
        </div>
    {% empty %}
        <p>Non ci sono recensioni disponibili.</p>
    {% endfor %}
    {% if not gruppo_venditore %}
        <a href="{% url 'gestione:recensione-create' venditore_username=venditore %}" class="btn btn-primary">Nuova Recensione</a>
    {% endif %}
    
  
    <hr>
    
    <h1>Articoli in vendita del venditore</h1>
  
    <!-- Mostra gli articoli in vendita -->
    {% for articolo in articoli %}
        {% if not articolo.terminato %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ articolo.titolo }}</h5>
                    <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
                    <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Vai</a>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>Non ci sono articoli in vendita.</p>
    {% endfor %}
{% endblock %}