{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h2>Elettronica</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'Elettronica' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h2>Informatica</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'Informatica' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>CD e Vinili</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'CD e Vinili' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h2>Videogiochi</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'Videogiochi' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Strumenti musicali</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'Strumenti musicali' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h2>Film e DVD</h2>
      {% for articolo in articoli %}
        {% if articolo.categoria == 'Film e DVD' and not articolo.terminato %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ articolo.titolo }}</h5>
              <p class="card-text">{{ articolo.schedaTecnica }}</p>
              <img src="{{ articolo.immagine.url }}" alt="Immagine Annuncio" width="120"/>
              <a href="{% url 'gestione:annuncio-detail' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}