{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for articolo in articoli %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ articolo.immagine }}" class="card-img-top" alt="{{ articolo.titolo }}">
          <div class="card-body">
            <h5 class="card-title">{{ articolo.titolo }}</h5>
            <p class="card-text">{{ articolo.schedaTecnica }}</p>
            <a href="{% url 'gestione:dettaglio-articolo' pk=articolo.id %}" class="btn btn-primary">Dettaglio</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}